<div class="wrapper">
  <div class="card log-card">
    <div class="card-header">
      <h1 class="display-4">Login</h1>
      <p class="lead">Welcome to <span id="system-name">Hungry Hunter</span>!</p>
    </div>

    <div class="card-body text-center">
      {{> message}}
      <form action="/users/login" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="email" placeholder="Enter email">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="Enter password">
        </div>
        <input class="btn btn-primary log-btn" type="submit" value="Login" />
      </form>
      <a href="/auth/facebook" class="btn btn-primary log-btn mt-2">Facebook Login</a>
    </div>

    <div class="card-footer text-center">
      <p class="text-muted" style="margin: 0 auto">No account? <a href="/users/register">Register</a></p>
    </div>
  </div>
</div>