<div class="wrapper">
  <div class="card log-card">
    <div class="card-header">
      <h1 class="display-4">Register</h1>
    </div>

    <div class="card-body text-center">
      {{> message}}
      <form action="/users/register" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="name" placeholder="Enter name" value="{{name}}">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="email" placeholder="Enter email" value="{{email}}">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="Enter password" value="{{password}}"
            minlength="3" maxlength="8">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm your password"
            value="{{confirmPassword}}" minlength="3" maxlength="8">
        </div>
        <input class="btn btn-primary log-btn" type="submit" value="Register" />
      </form>
      <a href="/auth/facebook" class="btn btn-primary log-btn mt-2">Register by Facebook</a>
    </div>

    <div class="card-footer text-center">
      <p class="text-muted" style="margin: 0 auto">Back to <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>